<div class="side_bar_top">
  <div class="header-name">
    <a href="#">current_user</a>
  </div>
  <div class="create-room">
    <a href="#">ルーム作成</a>
  </div>
</div>

<div class="side_bar_down">
  <div class="chat-room">
    <div class="chat-room_name">
      <a href="#">チャットルーム１</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-room_name">
      <a href="#">チャットルーム2</a>
    </div>
  </div>
  
</div>