<div class="side_bar_top">
  <div class="header-name">
    <%= link_to current_user.name,  edit_user_path(current_user) %>
  </div>
</div>

<div class="side_bar_down">
  <div class="chat-room">
    <%# <% current_user.rooms.each do |room| %>
      <div class="chat-room_name">
        <%= @room.users.name%>
        <%# <%= @room.users.email %>
      </div>
    <%# <%end%>
  </div>
</div> 